<div class="row justify-content-center align-items-center " style="min-height: 80vh">
  <div class="col-6  border p-4">
    <p class="lead">Send a message to the MonroneyLabels team</p>
    <%= form_with url: forward_message_path do |f| %>
      <div class="row mb-4">
        <%= f.label :name, class: 'col-2 col-form-label'%>
        <div class="col-10">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-person-circle"></i>
            </span>
            <%= f.text_field :name, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <%= f.label :email, class: 'col-2 col-form-label'%>
        <div class="col-10">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-envelope"></i>
            </span>
            <%= f.email_field :email, class: 'form-control'%>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <%= f.label :message, class: 'col-2 col-form-label'%>
        <div class="col-10">
          <%= f.text_area :message, class: 'form-control'%>
        </div>
      </div>

      <div class="row-mt2">
        <div class="col mx-auto">
          <%= f.submit "Send Message!", class:"btn btn-warning"%>
        </div>
      </div>
    <%end%>
  </div>
</div>

